[submodule "Carthage/Checkouts/libbson-xcode"]
	path = Carthage/Checkouts/libbson-xcode
	url = https://github.com/Danappelxx/libbson-xcode.git
[submodule "Carthage/Checkouts/libmongoc-xcode"]
	path = Carthage/Checkouts/libmongoc-xcode
	url = https://github.com/Danappelxx/libmongoc-xcode.git
[submodule "Carthage/Checkouts/SwiftMongoDB"]
	path = Carthage/Checkouts/SwiftMongoDB
	url = https://github.com/Danappelxx/SwiftMongoDB.git
[submodule "Carthage/Checkouts/RATreeView"]
	path = Carthage/Checkouts/RATreeView
	url = https://github.com/Augustyniak/RATreeView.git
[submodule "Carthage/Checkouts/Bond"]
	path = Carthage/Checkouts/Bond
	url = https://github.com/SwiftBond/Bond.git
[submodule "Carthage/Checkouts/SnapKit"]
	path = Carthage/Checkouts/SnapKit
	url = https://github.com/SnapKit/SnapKit.git
